.App {
}
.art-img {
  border-bottom-right-radius: 30%;
}
.character-badge {
  position: absolute;
  top: -10px;
  left: -5px;
}
.character-badge-a {
  background: #fff;
}
.character-badge-txt {
  background: #fff;
}
.bottom-character {
  position: relative;
  top: -15px;
}
.bottom-character-a {
  background: #fff;
}
